// $primary: #007490;
// $accent: #FEDD0B;
// $tertiary: #B2DAD1;
$primary: #006b84;
$primary-transparency: #006b8498;
$accent: #fbae42;
$tertiary: #B2DAD1;

$light: #e6f3e9;
$medium-light: #aededa;
$medium-dark: #006b84;
$dark: #19226d;
