.content-container {
  margin-top: 80px;
}

.mais-biblia {
  border-radius: 0;
  width: 150px;
}

.drawer-container {
  height: 100vh;
}

.drawer-inner {
  padding: 20px 35px;
}

.icon {
  width: 20px;
  margin-right: 8px;
}

mat-list {
  ::ng-deep {
    .mat-list-item-content {
      padding: 0 !important;
    }
  }
}

.developer {
  position: absolute;
  bottom: 10px;
  margin: 0;
  & .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
    & .contato {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }
  }
}

.mat-drawer {
  overflow-y: hidden;
  overflow-x: hidden;
}
