@import '../../../assets/css/variables.scss';

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    // background-color: #007490;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    backdrop-filter: blur(2px);

    .menu {
        margin-left: 15px;
        flex-basis: 29px;
        color: #FEDD0B;
    }

    .logo {
        flex: 1;
        text-align: center;
        padding-right: 57px;
        
        img {
            width: 57px;
            padding: 8px 0;
        }
    }
}

.darkHeader {
    background-color: $primary-transparency;
}
