<div class="sobre">
  <h1 class="titulo">TESTE DE DONS ESPIRITUAIS</h1>
  <p class="primeiro-texto">
    Este teste ajudará você a identificar seus dons espirituais, ou seja, as
    habilidades especiais que Deus deu a você por meio do Espírito Santo para
    cooperar com Ele no avanço do Seu Reino, por meio da igreja local.
    Instruções:
  </p>
  <ol class="lista">
    <li>
      Responda a todas as questões de forma sincera, o mais próximo possível da
      sua experiência.
    </li>
    <li>
      Para cada afirmação, coloque uma nota de 0 a 3 de acordo com a escala a
      seguir.
    </li>
    <li>
      Faça esta pergunta a você mesmo: “Esta afirmação tem sido a experiência da
      minha vida?” 0. Nunca | 1. Às vezes | 2. Frequentemente | 3. Sempre
    </li>
  </ol>
</div>
<div class="container">
  <!-- Quando mostrarPerguntas for true, exibe as perguntas -->
  <form [formGroup]="formulario" *ngIf="mostrarPerguntas; else contatoForm">
    <mat-stepper formArrayName="perguntas">
      <mat-step
        [formGroupName]="i"
        *ngFor="let pergunta of perguntas.controls; let i = index"
      >
        <span>{{ perguntasTitle[i] }}</span>

        <div class="slider">
          <ngx-slider [options]="options" formControlName="pontos"></ngx-slider>
        </div>

        <input formControlName="perguntaId" type="hidden" />

        <div class="footer">
          <button mat-button matStepperPrevious>Voltar</button>
          <span>{{ i + 1 }} / {{ perguntas.controls.length }}</span>
          <button
            mat-button
            matStepperNext
            *ngIf="i + 1 < perguntas.controls.length"
          >
            Próxima
          </button>
          <button
            mat-button
            (click)="submitForm()"
            *ngIf="i + 1 == perguntas.controls.length"
          >
            Ver Resultado
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>

  <!-- Caso contrário, mostra o formulário alternativo -->
  <ng-template #contatoForm>
    <form [formGroup]="contatoFormGroup" class="container-form">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          matInput
          formControlName="nome"
          required
          minlength="3"
          maxlength="50"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input
          matInput
          type="text"
          formControlName="telefone"
          maxlength="11"
          pattern="[0-9]*"
          (input)="validarNumeros($event)"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="enviarContato()">
        Enviar
      </button>
    </form>
  </ng-template>
</div>
